@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/*Desktop: Общие стили*/
body {
  font-family: 'Lato', sans-serif;
  line-height: 23px;
  font-size: 16px;
  color: #5E5E5E;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/*Desktop: header с логотипом, поиском, корзной*/
.header_container {
  width: 100%;
  height: 75px;
  background: #222222;
  position: relative;
}

.header {
  width: 80%;
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.header_block_left {
  width: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_block_left_logo {
  width: 44px;
  margin-right: 41px;
  margin-top: 3px;
}

.header_block_left_logo img {
  width: 44px;
}

.header_block_left_search {
  width: 26px;
  margin-top: 13px;
}

.header_block_left_search img {
  width: 26px;
}

.header_block_right {
  width: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_block_right_menu {
  width: 32px;
  margin-top: 5px;
  padding: 20px 16px 20px 16px;
  cursor: pointer;
}

.header_block_right_menu img {
  width: 32px;
}

.header_block_right_account {
  width: 29px;
  margin: 5px 0px 0 0px;
  padding: 0 16px 0 16px;
}

.header_block_right_account img {
  width: 29px;
}

.header_block_right_cart {
  width: 32px;
  margin-top: 5px;
  padding: 0 16px 0 16px;
  position: relative;
}

.header_block_right_cart_kolvo {
  position: absolute;
  top: -10px;
  right: 10px;
  background: #F16D7F;
  border-radius: 360px;
  color: #fff;
  width: 15px;
  height: 15px;
  text-align: center;
  padding: 3px;
  line-height: 16px;
}

.header_block_right_cart img {
  width: 32px;
}

/*Desktop: Конец header с логотипом, поиском, корзной*/
/*Desktop: выпадающее меню*/
.megabox {
  display: none;
}

/*position: relative; стоит у header_container*/
.header_block_right_menu:hover .megabox {
  display: block;
  background: #fff;
  -webkit-box-shadow: 0 0 10px #ccc;
          box-shadow: 0 0 10px #ccc;
  position: absolute;
  top: 65px;
  cursor: default;
  z-index: 3;
}

.megabox_inside {
  padding: 0 53px 30px 33px;
}

.megabox h2 {
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
}

.megabox h3 {
  color: #F16D7F;
  font-size: 14px;
  text-transform: uppercase;
}

.menulink {
  display: block;
  padding-left: 20px;
  line-height: 33px;
  color: #6F6E6E;
  text-decoration: none;
}

.menulink:hover {
  color: #F16D7F;
  text-decoration: underline;
}

.menu_close {
  color: #000;
  text-decoration: none;
  text-align: right;
  display: block;
  margin-right: 7px;
}

/*Desktop: Конец выпадающего меню*/
/*Desktop: header с картинкой*/
.big_header_container {
  width: 100%;
  height: 574px;
  background: #F1E4E6;
}

.big_header {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.big_header_container_reg {
  width: 100%;
  height: 154px;
  background: #F1E4E6;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.big_header_reg {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  color: #F16D7F;
  font-size: 20px;
  font-weight: 100;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 42px;
}

.big_header_reg_bc {
  color: #6F6E6E;
  font-size: 14px;
}

.big_header_reg_bc a {
  color: #6F6E6E;
  text-decoration: none;
}

.crump_active {
  color: #F16D7F;
}

.big_header_left {
  width: 600px;
  height: 574px;
  background-image: url(images/man.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.big_header_right {
  width: 600px;
}

.big_header_right_inside {
  margin-top: 190px;
  border-left: solid 12px #F16D7F;
}

.big_header_right_inside h1 {
  padding-top: 6px;
  font-weight: 900;
  font-size: 48px;
  line-height: 37.6px;
  text-transform: uppercase;
  margin-left: 10px;
}

.big_header_right_inside_p {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-transform: uppercase;
  margin-left: 10px;
}

/*Desktop: Конец header с картинкой*/
/*Desktop: категории*/
.category_container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 55px auto 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 3% 0 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.category_container h3 {
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-bottom: -15px;
}

.caregory_p {
  font-size: 24px;
  text-align: center;
  color: #F16D7F;
}

.category1 {
  width: 32%;
  height: 260px;
  background-image: url(images/cat1.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  text-decoration: none;
}

.category_hover:hover {
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-transform: scale(0.99);
  transform: scale(0.99);
}

.category2 {
  width: 32%;
  height: 260px;
  background-image: url(images/cat2.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  text-decoration: none;
}

.category3 {
  width: 32%;
  height: 260px;
  background-image: url(images/cat3.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  text-decoration: none;
}

.category_container_category4 {
  width: 80%;
  height: 180px;
  margin: 0 auto 90px;
  padding: 0 3% 0 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.category_container_category4 h3 {
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-bottom: -15px;
}

.category4 {
  width: 100%;
  height: 180px;
  background-image: url(images/cat4.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  text-decoration: none;
}

/*Desktop: конец категории*/
/*Desctop: Товары */
.product_header {
  margin-bottom: 45px;
  line-height: 20px;
  color: #9F9F9F;
}

.product_header h2 {
  margin-bottom: -5px;
  color: #222222;
}

.product_container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 33px;
  z-index: 1;
  padding: 0 3% 0 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product {
  width: 32%;
  background: #F8F8F8;
  margin-bottom: 30px;
  position: relative;
}

.product_href {
  text-decoration: none;
  color: #222222;
}

.product:hover .product_photo {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.product:hover .add_to_cart_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product_photo {
  display: block;
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 100%;
}

.h3_prod {
  font-size: 13px;
}

.product-desc_containet {
  padding: 0 17px 0 17px;
}

.desc_prod {
  font-size: 14px;
  color: #5D5D5D;
}

.prod_price {
  color: #F16D7F;
}

.add_to_cart_box {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add_to_cart:hover {
  -webkit-box-shadow: 0 0 6px #fff;
          box-shadow: 0 0 6px #fff;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.add_to_cart {
  border: 2px solid #fff;
  position: absolute;
  top: 188px;
  padding: 1px 16px 1px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.img_cart {
  margin-right: 11px;
}

.button_prod {
  width: 211px;
  line-height: 47px;
  background-color: #fff;
  border: 1px solid #FF6A6A;
  margin: 0 auto 109px;
  color: #FF6A6A;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.button_prod:hover {
  background-color: #FF6A6A;
  border: 1px solid #FF6A6A;
  margin: 0 auto 109px;
  color: #fff;
}

.button_prod_pink {
  width: 250px;
  line-height: 47px;
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  margin: 0 auto 0;
  color: #fff;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.button_prod_pink:hover {
  background-color: #fff;
  border: 1px solid #F16D7F;
  margin: 0 auto 0;
  color: #F16D7F;
}

/*Desktop: закрываем стили товаров*/
/*Desktop: преимущества*/
.benefits_big_container {
  width: 100%;
  background: #222224;
  padding: 100px 0 70px 0;
}

.benefits_container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.benefits {
  width: 32%;
  color: #FBFBFB;
  font-size: 17px;
}

benefits h2 {
  color: #FBFBFB;
  font-size: 20px;
}

.benefits-img {
  margin: 0 auto;
  width: 45px;
  height: 32px;
}

/*Desktop: закрываем преимущества*/
/*Desktop: subscribe*/
.subscr_big_container {
  width: 100%;
  background-image: url(images/subscr.jpg);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.subscr_container {
  width: 80%;
  height: 448px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscr {
  width: 360px;
  text-align: center;
  font-size: 20px;
}

.subscr_form {
  width: 560px;
  text-align: center;
  font-size: 18px;
}

.subscr_form h3 {
  font-size: 20px;
}

/*Desctop: закрываем subscribe*/
/*Desktop: footer*/
.footer_container {
  width: 100%;
  height: 79px;
  background: #222222;
}

.footer {
  width: 80%;
  height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_copyright {
  color: #FBFBFB;
  font-size: 16px;
}

.footer_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer_social_icon {
  width: 26px;
  height: 32px;
  padding: 0 3px 0 3px;
  margin: 0 4px 0 4px;
  background: #fff;
  border: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
  text-decoration: none;
  color: #000;
}

.footer_social_icon:hover {
  background: #F16D7F;
  color: #fff;
}

.fa-brands {
  font-size: 25px;
  text-align: center;
}

/*Desktop: конец стилей footer*/
/*Desctop: Форма подписки*/
.form_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.input_sub {
  width: 222px;
  height: 51px;
  background: #E1E1E1;
  border-radius: 360px 0 0 360px;
  border: none;
  padding: 0 20px 0 20px;
}

.button_sub {
  width: 100px;
  height: 51px;
  background: #F16D7F;
  border-radius: 0 360px 360px 0;
  border: none;
  color: #fff;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.button_sub:hover {
  background: #fff;
  border: 2px solid #F16D7F;
  color: #F16D7F;
}

/*Desctop: конец формы подписки*/
/*Desktop: регистрация*/
.account_container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto 100px;
}

.form_container {
  width: 360px;
  margin-right: 100px;
}

.form_reg {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form_reg_cart {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input_reg {
  width: 100%;
  height: 45px;
  border: 1px solid #A4A4A4;
  margin-bottom: 20px;
  padding: 0 20px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.input_reg_cart {
  width: 100%;
}

.input_reg_last {
  width: 100%;
  height: 45px;
  border: 1px solid #A4A4A4;
  margin-bottom: 0px;
  padding: 0 20px 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form_last_text {
  margin-bottom: 40px;
}

.input_reg_radio {
  width: 100%;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input_reg_radio_check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 37px;
  margin-right: 20px;
}

.input_reg_radio_pol {
  margin-right: 10px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.button_reg {
  width: 167px;
  height: 50px;
  background: #F16D7F;
  border: none;
  color: #fff;
  font-size: 16px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.button_reg_a {
  display: block;
  cursor: pointer;
}

.button_reg:hover {
  background: #fff;
  border: 2px solid #F16D7F;
  color: #F16D7F;
}

button {
  cursor: pointer;
}

.reg_desc {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Desctop: конец регистрации*/
/*Стили фильра в каталоге*/
.container_filter {
  width: 780px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 33px 0 48px 30px;
  text-transform: uppercase;
  color: #6F6E6E;
  position: relative;
  z-index: 10;
}

.container_filter_left {
  font-weight: 700;
}

.details {
  z-index: 10;
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 18px 18px 21px 18px;
}

.details[open] {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px #ccc;
          box-shadow: 0px 0px 10px #ccc;
  z-index: 10;
  position: relative;
  background-color: #fff;
}

.details[open] .summary_filter {
  color: #EF5B70;
}

.summary_filter {
  list-style-type: none;
  cursor: pointer;
}

.details_blocks {
  margin-top: 15px;
}

.details_blocks[open] .details_h3 {
  color: #EF5B70;
  margin-bottom: 10px;
}

.details_h3 {
  line-height: 40px;
  border-left: 5px solid #EF5B70;
  border-bottom: 1px solid #EBEBEB;
  padding-left: 10px;
  list-style-type: none;
  padding-bottom: 3px;
  cursor: pointer;
}

.details_links {
  padding-left: 15px;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  display: block;
  line-height: 30px;
}

.details_links:hover {
  color: #F16D7F;
}

.fa-arrow-down-wide-short {
  font-size: 16px;
  margin-left: 8px;
}

.container_filter_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 18px 21px 18px;
  width: 420px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container_filter_right__marginmod {
  margin: 0 auto 50px;
  position: relative;
}

.container_filter_right_fly {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 0;
  width: 420px;
}

.container_filter_right_inside {
  text-align: center;
}

.details_right[open] .form_filter {
  padding: 8px 15px 8px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 10px;
  z-index: 100;
  position: relative;
}

.details_right_summary {
  list-style-type: none;
  cursor: pointer;
  text-transform: uppercase;
}

.details_right_summary:after {
  content: '\25B6';
  margin-left: 5px;
}

.details_right[open] .details_right_summary::after {
  content: '\25BC';
}

.form_filter {
  text-align: left;
}

.container_filter_right_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: none;
  z-index: 100;
  position: relative;
}

.container_filter_right_checkbox:first-of-type {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px #ccc;
          box-shadow: 0px 0px 10px #ccc;
  padding: 8px 15px 8px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Конец стилей фильра в каталоге*/
/*пагинация*/
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 274px;
  border: 2px solid #EBEBEB;
  margin: 0 auto 70px;
  padding: 10px;
}

.pagination_inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination_item {
  color: #EBEBEB;
  text-decoration: none;
}

.pagination_item_pink {
  color: #F16D7F;
}

.sep {
  color: #EBEBEB;
}

.pag_nav {
  color: #000;
  text-decoration: none;
}

.pagination_item:hover {
  color: #EF5B70;
}

/*конец пагинации*/
.extend_h2, .flypage_h2 {
  color: #F16D7F;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
}

.flypage_h3 {
  color: #5E5E5E;
  font-size: 22px;
  text-align: center;
  margin-bottom: 60x;
  font-weight: 400;
}

.flypage_header {
  width: 100%;
  background: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 60px;
  z-index: 1;
}

.flypage_header_photo {
  width: 400px;
}

.flypage_header_nav {
  width: 40px;
  height: 40px;
  background: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flypage_header_nav:hover {
  color: #F16D7F;
  cursor: pointer;
}

.flypage_header_nav_left {
  width: 13px;
  margin-right: 5px;
}

.flypage_header_nav_right {
  width: 13px;
  margin-left: 5px;
}

.flypage_desc {
  width: 80%;
  -webkit-box-shadow: 0 0 1px #ccc;
          box-shadow: 0 0 1px #ccc;
  background: #fff;
  margin: 0 auto 120px;
  z-index: 2;
  padding: 50px 10px 50px 10px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.add_to_cart_box_fp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.add_to_cart_fp:hover {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  background: #F16D7F;
  color: #fff;
}

.add_to_cart_fp {
  border: 2px solid #F16D7F;
  padding: 1px 50px 1px 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  color: #F16D7F;
  font-size: 18px;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #fff;
}

.cart_fp {
  margin-right: 15px;
}

.flypage_pinkhr {
  background: #F16D7F;
  width: 63px;
  height: 4px;
  margin: 0 auto 0;
}

.flypage_text {
  text-align: center;
  width: 555px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.flypage_prise {
  font-size: 25px;
  text-align: center;
  color: #F16D7F;
  margin-bottom: 60px;
}

.flypage_hrgray {
  margin-bottom: 70px;
  width: 655px;
}

.container_size_flypage {
  height: 100px;
}

.cart_container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 50px auto 100px;
}

.cart_prod {
  width: 60%;
}

.cart_info {
  width: 100%;
}

.cart_tov {
  width: 100%;
  -webkit-box-shadow: 5px 5px 20px #ccc;
          box-shadow: 5px 5px 20px #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
  margin: 0 auto 40px;
}

.cart_tov_close {
  position: absolute;
  right: 5px;
  top: 4px;
  z-index: 2;
  font-size: 30px;
}

.cart_tov_close a {
  text-decoration: none;
  color: #000;
}

.cart_tov_photo {
  height: 300px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.cart_tov_link {
  display: block;
  height: 300px;
}

.cart_tov_photo:hover {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.cart_tov_desc {
  padding: 10px 20px 20px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart_tov_desc_h2 {
  margin-bottom: 30px;
  line-height: 30px;
  margin-top: 10px;
}

.quan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quan_number {
  margin-left: 15px;
  padding: 0 5px 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.cart_quan {
  border: 1px solid #ccc;
  margin-left: 10px;
  display: block;
  padding: 0 15px 0 15px;
}

.cart_but {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_buttons {
  width: 211px;
  line-height: 47px;
  background-color: #fff;
  border: 1px solid #5E5E5E;
  color: #5E5E5E;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.cart_buttons:hover {
  background-color: #F16D7F;
  border: 1px solid #F16D7F;
  color: #fff;
}

.cart_buttons_a {
  color: #5E5E5E;
  text-decoration: none;
}

.cart_form {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cart_fields {
  width: 100%;
  margin-bottom: 30px;
}

.cart_total {
  width: 100%;
  background: #F5F3F3;
  padding: 30px 30px 50px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.total_span {
  margin-left: 15px;
}

.total {
  font-size: 1.3em;
}

.cart_hr {
  margin-bottom: 20px;
}

@media (max-width: 1023px) {
  .container {
    width: 100%;
  }
  .header_container {
    padding: 0 20px 0 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .header_block_right_menu:hover .megabox {
    right: 0;
  }
  .header {
    width: 100%;
  }
  .big_header_container {
    height: 430px;
  }
  .big_header_reg {
    width: 100%;
    padding: 0 3% 0 3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .big_header {
    width: 100%;
  }
  .big_header_left {
    width: 50%;
    height: 430px;
    background-image: url(images/man2.png);
    background-size: cover;
  }
  .big_header_right {
    width: 50%;
  }
  .big_header_right_inside {
    margin-top: 160px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .big_header_right_inside_p {
    font-size: 27px;
  }
  .category_container {
    width: 100%;
    margin: 25px auto 20px;
  }
  .category_container_category4 {
    width: 100%;
  }
  .product_container {
    width: 100%;
  }
  .product {
    width: 48%;
  }
  .benefits_big_container {
    padding: 60px 0 30px 0;
  }
  .benefits_container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .benefits {
    width: 50%;
    margin: 0 auto 30px;
  }
  .subscr_container {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .subscr {
    margin-top: 50px;
    width: 50%;
    margin-bottom: 60px;
  }
  .subscr_form {
    width: 50%;
    margin-bottom: 120px;
  }
  .footer {
    width: 100%;
    padding: 0 10px 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .account_container {
    width: 100%;
    padding: 0 3% 0 3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .form_container {
    width: 50%;
    margin-right: 20px;
  }
  .reg_desc {
    width: 50%;
  }
  .cart_container {
    width: 100%;
    padding: 0 3% 0 3%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .cart_prod {
    width: 100%;
    margin-bottom: 35px;
  }
  .cart_tov {
    padding-right: 0;
  }
  .cart_tov_desc {
    padding: 10px 20px 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .cart_but {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .cart_tov_desc_h2 {
    margin-bottom: 10px;
  }
  .cart_tov_desc {
    line-height: 15px;
  }
  .cart_form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .cart_fields {
    width: 48%;
  }
  .cart_total {
    width: 48%;
    margin-top: 57px;
    padding: 30px 30px 20px 30px;
  }
  .product_container {
    width: 100%;
    padding: 0 3% 0 3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .container_filter {
    width: 100%;
    padding: 0 3% 0 3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 33px 0 48px 0px;
  }
  .product {
    width: 48%;
  }
  .last-of-type {
    display: none;
  }
  .flypage_desc {
    width: 100%;
    padding: 30px 3% 50px 3%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .flypage_hrgray {
    margin-bottom: 70px;
    width: 90%;
  }
  .flypage_text {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .big_header_left {
    display: none;
  }
  .big_header_right {
    width: 100%;
  }
  .header_block_right_account {
    display: none;
  }
  .header_block_right_cart {
    display: none;
  }
  .header_block_right_menu {
    padding: 0;
  }
  .header_block_right {
    width: auto;
  }
  .big_header_reg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .catalog_h1 {
    margin-bottom: 10px;
  }
  .big_header_reg_bc {
    margin-bottom: 25px;
  }
  .big_header_right_inside {
    margin: 150px auto 0;
    width: 310px;
  }
  .big_header_right_inside h1 {
    font-size: 47px;
  }
  .big_header_right_inside_p {
    font-size: 24px;
  }
  .category_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 25px auto 0px;
  }
  .category1 {
    width: 100%;
    margin-bottom: 25px;
  }
  .category2 {
    width: 100%;
    margin-bottom: 25px;
  }
  .category3 {
    width: 100%;
    margin-bottom: 25px;
  }
  .category4 {
    width: 100%;
  }
  .product_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product {
    width: 100%;
  }
  .footer_container {
    height: 150px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 10px;
    height: 150px;
  }
  .account_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form_container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .reg_desc {
    width: 100%;
  }
  .cart_tov_photo {
    height: 190px;
  }
  .cart_tov_link {
    height: 190px;
  }
  .cart_tov_desc_h2 {
    font-size: 15px;
    line-height: 18px;
    margin-right: 15px;
  }
  .cart_tov_desc {
    line-height: 10px;
    font-size: 14px;
    padding: 10px 20px 0px 5px;
  }
  .cart_buttons {
    width: 48%;
    font-size: 12px;
  }
  .cart_form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart_fields {
    width: 100%;
    margin-bottom: 15px;
  }
  .cart_total {
    width: 100%;
    margin-top: 40px;
    padding: 20px 30px 40px 30px;
  }
  .quan_number {
    margin-top: -5px;
    margin-left: 5px;
    padding: 0 3px 0 3px;
    width: 50px;
  }
  .container_filter_left {
    width: 10px;
  }
  .container_filter_right {
    width: 300px;
    font-size: 12px;
    padding: 18px 0 21px 28px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .word_filter {
    display: none;
  }
  .details {
    z-index: 10;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 18px 18px 21px 0px;
  }
  .container_filter_right_inside {
    min-width: 0;
    padding: 0 7px 0 7px;
  }
  .container_filter_right_inside:last-of-type {
    min-width: 0;
    padding: 0 0px 0 7px;
  }
  .fa-arrow-down-wide-short {
    font-size: 22px;
    margin-left: 0px;
  }
  .flypage_header_nav {
    width: 25px;
    height: 25px;
    background: #ccc;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .product {
    width: 100%;
  }
  .product:last-of-type {
    display: block;
  }
  .flypage_header_photo {
    width: 90%;
  }
  .flypage_text {
    width: 100%;
  }
  .container_filter_right {
    width: 300px;
  }
  .container_filter_right_fly {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto 0;
    width: 100%;
  }
  .container_size_flypage {
    width: 100%;
    margin: 0 auto 0;
    max-width: 400px;
  }
  .details_right_summary {
    font-size: 10px;
  }
}
/*# sourceMappingURL=style.css.map */